/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#landingpage{
    background-color:#ebe7ee

}

.welcome{
    margin-bottom:-100%;
    margin-top: 10px;
    font-style:arial;
    font-weight:bold;
}

h1, .h1 {
text-align:center;
font-family: georgia;
font-size: 50px;
color: white;
text-shadow: 2px 2px 4px #593196;

}
.logo{
    width: 80px;
    height: 80px;
}
.nav-bar{
    margin-top: -115px;

}

 .beach-day {
    width: 100%;
    height: 100%;


 }

 .carousel {
 margin: auto;
 height:auto;
 width: 100%;


 }

 .aboutus{
  text-align:center;
  border: 3px purple;
}

.eventinfo{
  text-align: center;
  font-style: italic;
}


.footer{
  border: 1px;
  background-color: #593196;
  height: 50px;
  padding-top: 15px;
  padding-bottom: -20px;
  }

  .copyrights{
    text-align: center;
    color:white;

  }

  .aboutborder{
    margin: auto;
    border: 8px solid #a081cd;
    padding-top: 10px;
    padding-bottom: 10px;

  }

.signup{
  text-align: center;
  margin-left: 0%;
}

.loggin{
  text-align: center;
  margin-left: 0%;
}

.notice{
  display: none;
}

.navbar{
  margin-bottom: 15px;
}
.blockquote{
  display: block;
  display:inline-block;
  text-align: center;
  margin-left: 10px;
  font-style: italic;
}

.forget_password{
  text-align: center;
  margin-left: 0%;
}

.gettingstart{
  margin: auto;
  border: 8px solid #a081cd;
  padding-top: 10px;
  padding-bottom: 10px
}
.getting_started_text{
  text-align:center;
  border: 3px purple;

}

.hosted_events{
  color:#ebe7ee;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}
