/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#landingpage{
    background-color:#ebe7ee

}

.welcome{
    margin-bottom:-100%;
    margin-top: 10px;
    font-style:arial;
    font-weight:bold;
}

h1, .h1 {
text-align:center;
font-family: georgia;
font-size: 50px;

}
.logo{
    width: 80px;
    height: 80px;
}
.nav-bar{
    margin-top: -120px;

}

 .beach-day {
    width: 800px;
    height: 400px;
 }

 .carousel {
 left: auto;
 right: -15%;
 border-radius: 100%;
 padding: -50%;

 }

 .aboutus{
  text-align:center;
  border:3px purple;
}

.eventinfo{
  text-align: center;
  font-style: italic;
}

.copyrights{
  text-align: center;
  color:white;
}

.footer{
  border: 1px;
  background-color: #593196;
  height: 50px;
  }

  
